<h1>{{ question.question_text }}</h1>

<form action="{% url 'polls:votes' question.id %}" method="post">
{% csrf_token %}
{% for choice in question.choices.all %}
    <input type="radio" name="choice" value="{{ choice.id}}" id="choice{{ choice.id }}">
    <label for="choice{{ choice.id }}">{{ choice.choice_text }}</label><br/>
{% endfor %}
<input type="submit" value="Save">
</form>