{% if questions_list %}
    <ul>
        {% for question in questions_list %}
            <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }} </a></li>
        {% endfor %}
    </ul>
{% else %}
    <p>There are no polls.</p>
{% endif %}