<h1>{{ question.question_text }}</h1>

<ul>
{% for choice in question.choices.all %}
    <li>{{ choice }} -- {{ choice.count }}</li>
{% endfor %}
</ul>

<a href="{% url 'polls:detail' question.id %}">Vote Again</a>